<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>babbadage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <h1>Charles Babbage</h1>
        <h2>"Se cometen muchos menos errores usando datos incorrectos que no empleando dato alguno"</h2>
        <h4>(Teignmouth, 1792 - Londres, 1871) </h4>
        <p>
            Hay un debate sobre la fecha y lugar de nacimiento de Babbage,the Times publicó que Babbage nació el 26 de diciembre de 1792 pero un sobrino suyo afirmó que fue un año antes, 1791. El registro de la parroquia St. Mary's en Newington establece que Babbage fue bautizado el 6 de enero de 1792, lo cual puede confirmar que hubiese nacido un año antes.
            Charles Babbage se licenció en la Universidad de Cambridge en 1814. Poco después, en 1815, fundó con J. Herschel la Analytic Society con el propósito de renovar de la enseñanza de las matemáticas en Inglaterra. En 1816 fue elegido miembro de la Royal Society y en 1828 ingresó en su universidad como profesor de matemáticas.
            En 1822 produjo un modelo funcional pequeño de su Difference engine (máquina diferencial). El funcionamiento aritmético de la máquina era limitado, pero podía recopilar e imprimir tablas matemáticas sin mayor intervención humana que la necesaria para girar las manivelas en la parte superior del prototipo.Babbage es considerado el principal pionero de la informática por su siguiente invención, la máquina analítica o Analytical engine. En su diseño teórico, la máquina analítica contenía ya todas las partes esenciales de la computadora moderna: dispositivo de entrada, memoria, unidad central de procesamiento e impresora. La máquina analítica ha pasado a la historia como el prototipo del ordenador moderno, aunque nunca se construyó un modelo a escala real. Pero, aun si se hubiera construido, la máquina analítica habría sido movida por una máquina de vapor y, debido a sus componentes totalmente mecánicos, su velocidad de cálculo no hubiera sido muy grande.
        </p>
        <img src="/img/Charles_Babbage.jpg" alt="Imagen de Charles Babbage"><h6>Charles Babbage</h6><h3>Vèase tambien.</h3><a href="https://es.wikipedia.org/wiki/M%C3%A1quina_diferencial">Maquina diferencial</a>
        <h4>Sugerencias</h4>
                <p>
                <img src="/img/turing-1.webp" alt="Alan Turing" height="100px">
                </p>
                <a href="http://localhost:3030/Turing">Alan Turing</a>


    </section>
    
</body>
</html>