<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>berners</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <h1>Tim Berners -Lee</h1>
        <h2> Creador de la World Wide Web (WWW)</h2>
        <p>
            Nacido en 1955 en el Reino Unido, se diplomó en física por la Universidad de Oxford e inició su actividad profesional en el CERN (Laboratorio Europeo de Física de las Partículas),en 1980, donde elaboró un programa llamado Enquire para almacenar y recuperar información a partir de asociaciones aleatorias. Ese programa inició el desarrollo del World Wide Web, que inventó a finales de 1990.edactó el HTLM (Lenguaje de etiquetado hipertexto) estableciendo enlaces con otros documentos en una computadora y elaboró un esquema de direcciones que dio a cada página de la Red una localizacion única, o URL (localizador universal de recursos). Luego estableció unas reglas llamadas HTTP (Protocolo de transferencia de hipertexto), para transmitir información a través de la Red. En 1991 dio a los usuarios de Internet libre acceso a programas en el mundo entero. Los dos años siguientes perfeccionó el diseño de la Red aprovechando las observaciones de los que empleaban Internet.
        </p>
        <img src="/img/Tim_Berners-Lee.jpg" alt="Tim Berners-Lee en 2005"><h6>Tim Berners-Lee en 2005</h6>
        <p>Berners-Lee trabajó en el CERN desde junio hasta diciembre de 1980.Durante ese tiempo, propuso un proyecto basado en el hipertexto para facilitar la forma de compartir y la puesta al día de la información entre investigadores..

            Después de dejar el CERN, en 1980, se fue a trabajar a la empresa de John Poole Image Computer Systems Ltd., pero regresó al CERN otra vez en 1984.
            
            En 1989, el CERN era el nodo de Internet más grande de Europa y Berners-Lee vio la oportunidad de unir Internet y el hipertexto (HTTP y HTML), de lo que surgiría la World Wide Web.En 1990 diseñó y construyó el primer navegador (llamado WorldWideWeb y desarrollado con NEXTSTEP) y el primer servidor Web al que llamó httpd (HyperText Transfer Protocol daemon).
            
            El primer servidor Web se encontraba en el CERN y fue puesto en línea el 6 de agosto de 1991.</p>
           <a href="https://www.youtube.com/watch?v=NWUZCTTLQcg">¿Que es la web?</a>
            <h4>Sugerencias</h4>
                <p>
                <img src="/img/Charles_Babbage.jpg" alt=" Charles Babbadage" height="100px">
                </p>
                <a href="http://localhost:3030/babbadage">Charles Babbage</a>


    </section>
    
</body>
</html>