<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clarke</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <h1>Joan Clarke</h1>
        <h2>(24.06.1917 - 4.09.1996)</h2>
        <h3>la criptóloga que ayudó a descifrar (el) Enigma</h3>
        <p>
            Joan Elisabeth Lowther Clarke naciò en Londres un 24 de junio de 1917.Una vez que finalizó el secundario se ganó una beca para estudiar en Cambridge donde obtuvo dos títulos de grado en Matemáticas.Su ingenio la destacó ante el resto y su profesor de Geometría, Gordon Welchman, la convocó para trabajar en Bletchley Park para la Escuela Gubernamental de Código y Cifrado (GCCS), que tenía como finalidad descifrar cómo funcionaba la máquina Enigma que utilizaban los alemanes para comunicarse de manera secreta.</p>
            
            <img src="/img/joanc1.jpg" alt="Imagen de Joan Clarke la única mujer que trabajó en el equipo liderado por Turing para descifrar el código Enigma."><h6>Joan Clarke fue la única mujer que trabajó en el equipo liderado por Turing para descifrar el código Enigma.</h6>

            En 1940 se incorporó al equipo de trabajo que se había originado el año anterior. En un comienzo fue parte del grupo denominado "Las Niñas", donde había otras mujeres haciendo trabajos de asistencia y soporte para los hombres; pero al poco tiempo se incorporó a la sección Hut 8 donde estaba Turing con quien forjó una amistad que duró toda la vida.Incluso llegaron a comprometerse en 1941 pero al poco tiempo, luego de que Turing le confesara que tenía inclinaciones homosexuales, rompieron el vínculo como pareja, pero mantuvieron la amistad.
        </p>
        <h3>Màs sobre este tema</h3><a href="https://www.infobae.com/america/ciencia-america/2018/10/29/la-tecnica-de-alan-turing-podria-mejorar-deteccion-del-cancer-segun-estudio/">La técnica de Alan Turing para descifrar el código Enigma podría mejorar la detección del cáncer</a>
        <h4>Sugerencias</h4>
                <p>
                <img src="/img/Tim_Berners-Lee.jpg" alt="Tim Berners" height="100px">
                </p>
                <a href="http://localhost:3030/berners">Tim Berners -Lee</a>



    </section>
    
</body>
</html>