<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>LOS HÉROES DE LA TECNOLOGÍA</h1>
   <img src="/img/Còdigos.png" alt="Imagen demostrativa de codigos">

     <p>Destacado</p>
     <p>Charles Babbage</p>
   <img src="/img/Charles_Babbage.jpg" alt=" Charles Babbadage" height="420px">
                </p>
                <a href="http://localhost:3030/babbadage">Creador de la primera màquina calculadora mecànica diferencial</a>
       <p>Tim Berners-Lee</p>         
  <img src="/img/Tim_Berners-Lee.jpg" alt=" Berners" height="420px">
            </p>
            <a href="http://localhost:3030/berners">Creador de la World Wide Web (www)</a>
       <p>Joan Clarke</p>        
  <img src="/img/joanc1.jpg" alt=" Clarke" height="420px">
        </p>
        <a href="http://localhost:3030/clarke">Ella desifrò el còdigo Enigma</a>
    <p>Margaret Hamilton</p>   
  <img src="/img/Margaret_Hamilton_1995.jpg" alt=" hamilton" height="420px">
      </p>
       <a href="http://localhost:3030/hamilton">Creadora del còdigo de la NASA</a>
    <p>Grace Hopper</p>    
  <img src="/img/220px-Commodore_Grace_M._Hopper,_USN_(covered)_head_and_shoulders_crop.jpg" alt=" Berners" height="420px">
     </p>
     <a href="http://localhost:3030/hopper">Creadora del primer compilador de ordenadores en 1952</a>
   <p>Ada Lovelace</p>   
 <img src="/img/220px-Ada_Byron_daguerreotype_by_Antoine_Claudet_1843_or_1850.jpg" alt=" Berners" height="420px">
      </p>
      <a href="http://localhost:3030/lovelace">La primera persona en programar una computadora</a>
    <p>Alan Turing</p>  
  <img src="/img/turing-1.webp" alt=" Turing" height="420px">
    </p>
    <a href="http://localhost:3030/turing">Desifrò el còdigo nazi en la Segunda Guerra Mundial</a>
    
</body>
</html>