body{
    background-color: rgb(16, 12, 12);
    
}
h1{
    
    color: rgb(255, 255, 255);
}
h2{
    color: aliceblue;
}
h3{
color: aliceblue;
}
h4{
color: aliceblue;
}
h5{
color: aliceblue;
}
h6{
color: aliceblue;
}
p{
    color: aliceblue;
}
